/*
 * With thanks to:
 * https://github.com/coliff/bootstrap-ie7 
 */

.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.input-group {box-sizing:border-box;behavior:url(/js/boxsizing.htc)}
audio,canvas,video{display:inline;zoom:1}
html{font-size:100%}
img{width:auto;height:auto;-ms-interpolation-mode:bicubic}
button,input{overflow:visible}
.row{zoom:1}
.dl-horizontal{zoom:1}
input[type="radio"],input[type="checkbox"]{margin-top:0}
.help-block{display:inline;zoom:1}
.form-horizontal{zoom:1}
.dropdown-toggle{margin-bottom:-3px}
.glyphicon{text-decoration:inherit;line-height:normal}

.container {
  width: 970px !important;
}
.input-group {
  .input-group-btn {
    display: none;
  }
}
#blackbar {
  .input-group {
    .form-control {
      height: 20px;
      width: 170px;
    }
  }
  .icon-user  {
    line-height: 30px;
    padding-left: 4px;
  }
}
.col-md-6 {
  width: 470px;
  float: left;
}

