/*
  LESS file for Drupal styles.
  If you have shared drupal/ckan styles consider moving them to dgu-shared.less .
*/


body {
 padding-top: 0;  // Remove the inherited whitespace above the body from style.css in bootstrap theme.
 }


/* Blogs */
 div.view-id-blogs div.views-row div.views-field-field-avatar {
   //border: 5px solid black;
   //padding: 10px;
   //margin: 10px;
 }

 div.views-field-field-avatar {
   float: left;
 }

div.views-field-field-avatar img {
   border: 4px solid ;
   margin: 10px; 
 }

div.views-field-id span{
  background: url(/assets/img/comment.png) 0 4px no-repeat;
  padding-left: 20px;
}