/* Drupal will helpfully put articles inside .boxed area. I do not want it to do this. */
.boxed article {
  padding: 0 0 0 0;
  overflow: visible;
  border: none;
}

/* Drupal Library pages */
/* -------------------- */
header .submitted {
  padding-left: 17px;
  padding-right: 17px;
  // background: #f0f;
  color: #aaa;
  background: #eee;
  display: block;
  padding: 5px;
  margin-bottom: 8px;
  font-style: italic;
  a {
    color: #999;
    text-decoration: underline;
  }
}
/* Drupal Tags/Categories/etc */
/* -------------------------- */
/* These two fields appear at the bottom of library documents */
.field-name-field-developed-by,
.field-name-field-rating,
.field-name-field-app-link,
.field-name-field-app-charge,
.field-name-field-tags,
.field-name-field-resource-file {
  border-left: 3px solid #ccc;
  padding: 3px 15px;
  .field-label,
  .field-items,
  .field-items .field-item {
    display: inline;
  }
}
.field-name-body {
  margin: 10px 0;
}
/* Generic styling for taxonomy attached to documents */
.field-type-taxonomy-term-reference {
  .field-label {
    margin-top: 6px;
    margin-bottom: 3px;
    display: inline;
  }
  .field-items {
    display: inline;
    .field-item {
      display: inline;
      a {
        color: #fff;
        display: inline-block;
        zoom: 1;
        *display: inline;
        padding: 2px 8px;
        margin: 2px 3px;
        background: #9DC93D;
        font-weight: 300;
        font-size: 12px;
        &:hover {
          background: darken(#9DC93D,10%);
        }
      }
    }
  }
}


/* Drupal comments and forum pages */
.replies-header {
  margin-top: 10px;
}
.replies-wrapper {
  .reply {
    padding: 10px;
    padding-bottom: 2px;
    margin-bottom: 9px;
    position: relative;
    border: 0;
    &.push-1 {margin-left: 30px;}
    &.push-2 {margin-left: 60px;}
    &.push-3 {margin-left: 90px;}
    &.push-4 {margin-left: 120px;}
    &.push-5 {margin-left: 140px;}
    &.push-6 {margin-left: 160px;}
    &.push-7 {margin-left: 180px;}
    &.push-8 {margin-left: 190px;}
    &.push-9 {margin-left: 200px;}
    &.push-10 {margin-left: 210px;}
    h3 {
      padding-left: 60px;
      padding-top: 0;
      margin-left: 0px;
      margin-bottom: 3px;
    }
    .submitted {
      display: block;
      padding-left: 60px;
      padding-bottom: 3px;
      color: #999;
    }
    > a {
      position: absolute;
      top: 0;
      left: 0;
    }
    .reply-body {
      padding-left: 10px;
      margin-left: 44px;
      border-left: 6px solid #E0E0E0;
    }
    .field-name-field-reply-subject {
      .field-label {
        display: none;
      }
      .field-items {
        font-size: 19px;
        line-height: 23px;
      }
    }
    .field-name-field-reply-comment {
      .field-label {
        display: none;
      }
      .field-items {
        padding-bottom: 0;
      }
    }
  }
  @media(max-width:767px) {
    h3 {
      border-top: none;
    }
  }
  .reply-links a {
    padding: 15px;
    margin-right: 15px;
  }
}



/* Drupal throbber  eg. Search Forums */
html.js input.form-autocomplete {
  background-image: none;
  &.throbbing {
    background-image: url('/assets/img/ajax-loader.gif');
  }
  background-size: 17px;
  background-position: 97% 5px;
}

/* Forum Categories */
.view-forum-categories {
  .views-field-name {
    display: inline;
  }
  .views-field-nid {
    display: inline;
    font-weight: bold;
    color: #666;
  }
  .views-row.active a {
    font-weight: bold;
    color: #000;
  }
}
/* Forum categories on the front page of /forum */
#forum {
  h2 {
    margin-bottom: 20px;
  }
  .view-forum-categories {
    @gutter: 17px;
    @topPadding: 10px;
    @l: 55px;
    @r: 100px;
    @titleheight: 20px;
    margin: -14px -@gutter;
    .views-row {
      position: relative;
      padding-left: @l + @gutter;
      padding-top: @topPadding + @titleheight + 3px;
      padding-right: @r + @gutter;
      padding-bottom: 5px;
      overflow: hidden;
      min-height: 65px;
      border-bottom: 1px solid #ccc;
      &.views-row-last { border-bottom: none; }
    }
    .views-row-odd {
      background: #ecf6e3;
    }
    .views-row-even {
    }
    .views-field-nothing {
      position: absolute;
      display: block;
      top: @topPadding;
      left: @gutter;
      background-image: url('/assets/img/icon-forum.png');
      background-size: 45px;
      width: 45px;
      height: 45px;
      img { display: none; }
    }
    .views-field-name {
      font-size: 18px;
      position: absolute;
      top: @topPadding;
      left: @l + @gutter;
      right: @r + @gutter;
      height: @titleheight;
    }
    .views-field-description {
      p { margin-bottom: 0; }
    }
    .views-field-nid {
      display: block;
      position: absolute;
      width: @r - 10px;
      top: @topPadding + 7px;
      right: @gutter;
      color: #aaa;
      font-weight: bold;
      font-size: 15px;
      text-align: right;
      .field-content { color: #333; }
    }
    .views-field-id {
      position: absolute;
      width: @r - 10px;
      top: @topPadding + 28px;
      right: @gutter;
      color: #aaa;
      font-weight: bold;
      font-size: 15px;
      text-align: right;
      .field-content { color: #333; }
    }
  }
}
.node-forum h2,
.pane-forum-topics-panel-pane-1 h2 {
  background-image: url('/assets/img/icon-forum.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0;
  padding-left: 35px;
  line-height: 30px;
  margin-bottom: 20px;
}

/* Drupal tables eg. list of forum posts */
.views-table {
  margin-top: -14px;
  th {
    background: #eee;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    &.views-field-title {
      border-left: 1px solid #ccc;
    }
    a {
      color: #555;
      img {
        padding-left: 5px;
        padding-bottom: 5px;
      }
    }
  }
  td.views-field-id {
    font-weight: bold;
    text-align: right;
  }
  td.views-field-created,
  td.views-field-created-1 {
    font-size: 10px;
    line-height: 11px;
  }
}


/* Drupal apps */
.view-apps {
  td,
  .views-row {
    position: relative;
    padding-left: 54px;
    padding-right: 97px;
    min-height: 54px;
    padding-top: 4px;
    padding-bottom: 4px;
    .views-field-nothing {
      position: absolute;
      left: 0;
      top: 4px;
      .field-content {
        width: 45px;
        height: 45px;
        display:block;
        background: url('/assets/img/icon-app.png');
        background-size: 45px;
        img { display: none; }
      }
    }
    .views-field-title {
      font-size: 19px;
      line-height: 23px;
    }
    .views-field-field-submitter-name {
      color: #666;
    }
    .views-field-field-rating {
      position: absolute;
      right: 0;
      top: 8px;
    }
  }
}

.node-app {
  position: relative;
  .field-name-field-rating {
    .help-block {
      display: none;
    }
    .fivestar-summary {
      color: #666;
      font-size: 11px;
      line-height: 12px;
      padding-top: 2px;
    }
    .average-rating {
      color: #aaa;
    }
  }
  .field-name-field-submitter-name div,
  .field-name-field-submitter-email div{
    display: inline !important;
  }
  h2 {
    padding-right: 110px;
  }
  .field-name-field-rating {
    padding: 0 0 0 0;
    .field-label {
      display: none;
    }
    .field-items {
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }
}

.fancybox {
  padding: 10px 0;
  .screenshot.thumbnail {
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    img { height: 200px; }
  }
}


/* Blogs: Frequent Bloggers */
.view-frequent-bloggers {
  .views-field-nid {
    color: #777;
  }
}


/* Drupal blogs */
body.page-blog .view-blogs .views-row {
  /* Leave extra room for the larger avatars on this page */
  padding-left: 120px;
  padding-right: 20px;
  min-height: 80px;
  @media (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
  }
  .views-field-title {
    display: block;
  }
  .views-field-id {
    float: right;
    display: inline-block;
    margin-bottom: 0;
  }
  .views-field-field-avatar {
    top: 4px;
    @media (max-width: 480px) {
      display: none;
    }
    img {
      border:1px solid #;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px;
    }
  }
  h3 {
    padding: 0 0 4px;
    margin-bottom: 0;
  }
}
.view-display-id-blogs_same_author .views-row {
  padding-left: 0 !important;
  .views-field-title {
    display: block !important;
  }
}


.view-blogs {
  .views-row {
    position: relative;
    // padding-left: 50px;
    padding-top: 4px;
    padding-bottom: 10px;
    min-height: 40px;
    .views-field-field-avatar {
      position: absolute;
      left: 0;
      top: 7px;
    }
    .views-field-title {
      font-size: 14px;
      line-height: 18px;
      display: inline;
    }
    .views-field-field-submitter-name {
      color: #666;
    }
    .views-field-name,
    .views-field-created {
      color: #999;
      a { color: #666; }
    }
  }
}
.view-dataset-requests .views-row .views-field-id,
.view-blogs .views-row .views-field-id {
  display: inline-block;
  float: right;
  color: #999;
  background-color: #bbb;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background-image: url('/assets/img/comment.png');
  background-size: 20px;
  background-repeat: no-repeat;
  color: #fff;
  font-weight: bold;
  padding-left: 26px;
  padding-right: 10px;
  font-size: 11px;
  margin-bottom: 6px;
  margin-left: 6px;
  a { color: #fff; }
}
.node-blog {
  .avatar {
    @media (min-width: 991px) {
      position: absolute;
      left: -19.5%;
      top:-0.8%;
    }
    @media (max-width: 500px) {
      display: none;
    }
    float: left;
    margin: 0 10px 10px 0;
    img {
      border:1px solid #;
      -webkit-border-radius: 60px;
      -moz-border-radius: 60px;
      border-radius: 60px;
    }
  }
}
.pane-apachesolr-search-mlt-001, .pane-10-seconds-tour {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

/* /odug-roadmap */
.tableauPlaceholder {
  padding: 20px 0;
  margin: 0 auto !important;
  border: 1px solid #000 !important;
}

/* /odug */
body.page-odug {
  ul {
    list-style: none;
    padding:0;
  }
  .pane-custom.pane-2 img {
  width: 100%;
  }
}
.view-dataset-requests {
  .views-row {
    background-image: url('/assets/img/icon-dataset-request.png');
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 23px;
    padding-left: 30px;
    position: relative;
    padding-right: 50px;
    min-height: 75px;
    padding-top: 4px;
    padding-bottom: 10px;
    .views-field-title {
      font-size: 19px;
      line-height: 23px;
    }
    .views-field-id {
      position: absolute;
      right: 0;
      top: 3px;
    }
    .views-field-field-review-status {
      .views-label {
        color: #999;
      }
      .field-content {
        display: inline;
        color: #666;
        font-weight: bold;
      }
    }
  }
}
.node-dataset-request h2,
.node-type-dataset-request h2 {
  background-image: url('/assets/img/icon-dataset-request.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 49px;
}
.node-app h2 {
  background-image: url('/assets/img/icon-app.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 49px;
}
/* This looks ridiculous on tablet */
@media (min-width: 768px) and (max-width: 979px) {
  .view-dataset-requests {
    .views-row {
      padding-right: 0;
      .views-field-id {
        position: static;
      }
    }
  }
}

/* Odug view pages */
.node-dataset-request {
  .field-name-field-organisation-name,
  .field-name-field-submitter-name,
  .field-name-field-submitter-email,
  .field-name-field-organisation-type,
  .field-name-field-issue-type,
  .field-name-field-barriers-detail,
  .field-name-field-data-use,
  .field-name-field-data-holder,
  .field-name-field-data-use-detail,
  .field-name-field-benefits-overview,
  .field-name-field-provide-estimates,
  .field-name-field-publication-preference,
  .field-name-field-review-status,
  .field-name-field-review-notes,
  .field-name-field-data-set-description,
  .field-name-field-data-themes,
  .field-name-field-barriers-attempted,
  .field-name-field-barriers-reason {
    border-top: 1px solid #ccc;
    .field-label {
      display: inline-block;
      zoom: 1;
      *display: inline;
      vertical-align: top;
      width: 40%;
      max-width: 250px;
      text-align: right;
      padding: 4px;
    }
    .field-items {
      display: inline;
      .field-item {
        display: inline-block;
        zoom: 1;
        max-width: 50%;
        vertical-align: top;
        *display: inline;
        margin-left: 10px;
        padding: 4px;
      }
    }
  }
  .field-name-field-barriers-reason {
    border-bottom: 1px solid #ccc;
  }
}

/*
 * Fix ugly headers which Drupal is technically misusing within articles...
 * eg. http://localhost:4567/forum/food-hygiene-rating-data/uk-food-hygiene-ratings-data-api
 */
.field-name-body,
.field-name-field-reply-comment {
  h2 {
    margin-bottom: 0;
    border-bottom: none;
    margin-top: 8px;
    background: none !important;
  }
}

/* Login pages */
.toboggan-unified {
  .help-block {
    font-style: italic;
    color: #999;
  }
  #login-message {
    text-align: left;
    @media(max-width: 767px) { margin-top: 15px; }
    margin-bottom: 18px;
    font-style: normal;
    // From bootstrap h1
    font-size: 24px; line-height: 30px; margin-bottom: 10px;
  }
  .login-forgot {
    margin: 5px 0 10px 20px;
    &:after { content: ' »' }
  }
  #login-form,
  #register-form {
    background: #fff;
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-top: none;
    .boxed {
      border: 0;
    }
  }
  .password-parent {
    max-width: 500px;
  }
  .password-strength > * {
    float: right;
    margin: 0 4px;
  }
  #login-links {
    border-bottom: 1px solid #ccc;
    height: 36px;
    a {
      display: block;
      float: left;
      padding-top: 8px;
      font-size: 15px;
      line-height: 20px;
      border: 1px solid transparent !important;
      -webkit-border-radius: 4px 4px 0 0;
         -moz-border-radius: 4px 4px 0 0;
              border-radius: 4px 4px 0 0;
      background: none !important;
      &.lt-active {
        color: #000;
        background: #fff !important;
        border-color: #ccc !important;
        border-bottom-color: #fff !important;
      }
    }
  }
}
/* User pages */
.page-user {
  .tabs,
  .tabs ul {
    margin-bottom: 0px;
  }
  #user-profile-form,
  .profile {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-top: -1px;
    .avatar {
      position: absolute;
      margin: 0 10px 10px 0;
      img {
        border:1px solid #;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
      }
    }
    dt {
      float:left;
      display: inline-block;
      padding: 4px 12px;
      width:150px;
      font-size: 13px;
      font-weight: bold;
      text-align: right;
      background-color: #E0E0E0;
    }
    dd {
      margin-left: 170px;
    }
  }
}


/* /taxonomy/term/23 */
.lexicon-links {
  background-color: transparent;
  margin: 10px 0;

}
body.page-home {
  .pane-1 {
    padding-left: 0;
    padding-right: 0;
  }
  #homepage-promo-container {
    position: relative;
    margin: 0 auto;
    @w: 230px;
    @h: 170px;
    width: @w;
    height: @h * 6.5;
    padding: 0 0 0 0;
    br { display: none; }
    > div {
      position: absolute;
      width: @w;
      height: @h;
      padding: 0 0 0 0;
      img { width: 100%; height: 100%; }
    }
    #big_vertical   { top: 0      ; left: 0 ; height: @h*2   ; }
    #big_horizontal { top: @h*4   ; left: 0 ; height: @h / 2 ; }
    #small_left     { top: @h*2   ; left: 0 ; }
    #small_middle   { top: @h*3   ; left: 0 ; }
    #small_right    { top: @h*4.5 ; left: 0 ; }
    #small_single   { top: @h*5.5 ; left: 0 ; }
    @media(min-width: 500px) {
        width: @w*2;
        height: @h*4;
        #big_vertical   { top: 0    ; left: 0  ; }
        #big_horizontal { top: @h*2 ; left: 0  ; width: @w*2 ; height: @h ; }
        #small_left     { top: 0    ; left: @w ; }
        #small_middle   { top: @h   ; left: @w ; }
        #small_right    { top: @h*3 ; left: 0  ; }
        #small_single   { top: @h*3 ; left: @w ; }
    }
    @media (min-width: 980px) {
        width: @w*4;
        height: @h*2;
        #big_vertical   { top: 0  ; left: 0    ; }
        #big_horizontal { top: 0  ; left: @w*2 ; }
        #small_left     { top: 0  ; left: @w   ; }
        #small_middle   { top: @h ; left: @w   ; }
        #small_right    { top: @h ; left: @w*2 ; }
        #small_single   { top: @h ; left: @w*3 ; }
    }
    .overlay-low {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 28%;
      width: 100%;
      background: rgba(255,255,255,0.9);
      padding: 9px 9px;
      color: #000;
      h3 {
        border: none !important;
        font-size: 16px;
        font-weight: bold;
        padding-top: 0px;
        margin-bottom: 0px;
      }
    }
  }
  .form-search-solo {
    margin-top: 15px;
  }
  .pane-dgu-home-page-dgu-home-page-data-search,
  .pane-apachesolr-form {
    padding:0;
    margin: 10px 0;
  }
  .view-latest-blogs-and-forums .views-row,
  .view-latest-datasets .views-row {
    background-image: url('/assets/img/icon-dataset.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 0 2px;
    padding-left: 25px;
    min-height: 24px;
    margin-bottom: 8px;
    .views-field-publisher {
      color: #999;
    }
    &.node-type-forum { background-image: url('/assets/img/icon-forum.png'); }
    &.node-type-blog { background-image: url('/assets/img/icon-blog.png'); }
  }
}
/* Taxonomy page */
.page-taxonomy #main-content > footer {
  display: none;
}
/* Library pages*/
.node-resource h2 {
  background-image: url('/assets/img/icon-library.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 49px;
}
/* Book pages*/
.node-book h2 {
  background-image: url('/assets/img/icon-book.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 49px;
}

/* General pages*/
.node-page h2 {
  background-image: url('/assets/img/icon-page.png');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 10px 9px;
  padding-left: 49px;
}
.disclaimer {
  padding: 14px;
  background: #eee;
  color: #666;
  font-size: 12px;
  line-height: 14px;
}
/* Fivestars plugin overrides */

div.fivestar-widget-static .star {
  background: url('/assets/img/stars.png') no-repeat 0 0; /* RTL */
  background-size: 16px 48px;
}

div.fivestar-widget-static .star span.on {
  background: url('/assets/img/stars.png') no-repeat 0 -32px; /* RTL */
  background-size: 16px 48px;
}

div.fivestar-widget-static .star span.off {
  background: url('/assets/img/stars.png') no-repeat 0 0; /* RTL */
  background-size: 16px 48px;
}

.apachesolr_search-results {
  list-style-type: none;
  margin-left: 0;
  padding:0;
  li.search-result {
    margin-bottom: 30px;
    .search-snippet {
      margin-bottom: 2px;
    }
    .search-info {
      padding: 2px 10px;
      text-align: right;
      color: #999;
      font-size: 12px;
      p {
        margin:0;
      }
    }
  }
  h3 {
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 22px;
    padding-right: 46px;
    padding-top: 0;
    color: #393939;
    font-size: 22px;
    line-height: 25px;
    font-family: 'Open Sans', Helvetica Neue, Helvetica;
    a {
      color:#393939;
    }
    @media(max-width: 767px) {
      padding-top: 10px;
      background-position-y: 11px;
    }
  }
  .node-type-app              h3 { background-image: url('/assets/img/icon-app.png'); }
  .node-type-blog             h3 { background-image: url('/assets/img/icon-blog.png');            }
  .node-type-dataset_request  h3 { background-image: url('/assets/img/icon-dataset-request.png'); }
  .node-type-forum            h3 { background-image: url('/assets/img/icon-forum.png');           }
  .node-type-resource         h3 { background-image: url('/assets/img/icon-library.png');         }
  .node-type-page             h3 { background-image: url('/assets/img/icon-page.png');            }
  .node-type-book             h3 { background-image: url('/assets/img/icon-book.png');            }
}
/* Tweak to search page */
.result-private-dataset-request {
  text-align: center;
}
.pane-dgu-search-form {
  padding: 0;
}
.search-area .left .left-inner input[type="text"] {
  margin:5px 0 0 20px;
}

.pane-bundle-tile-big, .pane-bundle-tile-small {
  padding:0;
  margin-bottom: 30px;
}

/* Location page changes */
.pane-uk-location-infrastructure ul {
  padding-left: 15px;
}
